<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <!-- Regla para permitir archivos estáticos -->
                <rule name="Static Files" stopProcessing="true">
                    <match url=".*\.(css|js|svg|jpg|jpeg|png|gif|ico)$" ignoreCase="true" />
                    <action type="None" />
                </rule>            
                <rule name="Redirigir todo a index.php">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
